@import "../vars";

.Graph {
	font-family: $font-family;

	.tooltip {
		position: absolute;
		padding: 2px 4px;
		font-family: $font-family;
		font-size: 12px;
		color: #fff;
		background: $muted-color;
		border: 0px;
		border-radius: 4px;
		pointer-events: none;
	}


	.bars {
		rect {
			rx: 1px;
			ry: 1px;
		}
	}

	.label {
		fill: $meta-color;
		font-size: 14px;
	}

	.x-axis, .y-axis {
		path {
			stroke: $meta-color;
		}
		.tick * {
			stroke: $meta-color;
			fill: $meta-color;
		}
		.tick text {
			font-size: 11px;
		}
	}

	.y-axis {
		g:last-child {
			display: none;
		}
	}

	.instruction {
		margin-bottom: 20px;
		font-size: 14px;
		color: $meta-color;
		text-align: center;
	}

	.table {
		font-size: 14px;
		margin-top: 60px;
		margin-bottom: 50px;
		color: $muted-color;
		display: flex;
		justify-content: center;

		table th {
			font-weight: normal;
			text-align: left;
		}

		table {
			width: 100%;
			max-width: 900px;

			margin-bottom: 1rem;
			border: 0 solid #ddd;
			border-collapse: collapse;
		}

		td,
		th {
			padding: .75rem .5rem;
			border-color: #ddd;
			border-style: solid;
			border-width: 0;
			border-bottom-width: 1px;
		}

		th {
			text-align: left;
		}

		thead th {
			font-weight: bold;
			border-bottom-width: 3px;
		}

		tbody {
			tr:last-child {
				td {
					border-bottom-width: 0;
				}
			}
		}

		.MostPlayedSongs {
			th.album, td.album,
			th.artist, td.artist {
				display: none;
			}
		}

		@media (min-width: 600px) {
			font-size: 15px;

			.MostPlayedSongs {
				th.album, td.album {
					display: table-cell;
				}
			}
		}

		@media (min-width: 400px) {
			.MostPlayedSongs {
				th.artist, td.artist {
					display: table-cell;
				}
			}
		}
	}
}
