@import "vars.scss";

.ColorPicker {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.elems {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.elem {
			cursor: pointer;
			margin-right: 12px;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.label {
		margin-top: 20px;
		height: 20px;
		text-align: center;
		color: $meta-color;
	}
}
