@import "vars.scss";

.detailOverlay {
  background: white !important;
}

.detailModal {
  width: 90%;
  height: 80%;
  max-width: 1200px !important;
  max-height: 1000px;
  box-shadow: none !important;

  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.detailCloseButton {
  svg {
    width: 120px;
    height: 120px;
    fill: #ccc;
  }
}
