@import "common.scss";
@import "vars.scss";

$focus-link-color: #0073AA;
$unfocus-link-color: $meta-color;
$hover-link-color: #0073AA;
$danger-link-color: #FF4136;
$text-font-size-larger: 17px;

body {
  font-family: $font-family;
  margin: $body-margin-w;
}

a {
  color: $focus-link-color;
  &:hover {
    color: $hover-link-color;
  }
  &.danger {
    &:hover {
      color: $danger-link-color;
    }
  }
}

.Root {
  margin: 0 auto;
  color: $muted-color;
  padding: 0 12px;
}

Root.theme-black {
  a {
    color: black;
    &:hover {
      color: black;
    }
    &.danger {
      &:hover {
        color: $danger-link-color;
      }
    }
  }
}

.meta {
  color: $meta-color;
}

.dark {
  color: #001f3f;
}

.hidden {
  display: none !important;
}

.larger {
  font-size: $text-font-size-larger;
  line-height: 1.4rem;
}

.content {
  margin: 0 auto 55px;
  line-height: 1.6rem;
}

.heading {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 21px;
}

section {
  margin-bottom: 50px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  .Root {
    width: 90%;
  }
}

@media screen and (min-width: 570px) {
  .Root {
    width: 80%;
  }
}

@media screen and (min-width: 640px) {
  .Root {
    width: 70%;
  }
}

@media screen and (min-width: 915px) {
  .Root {
    width: 60%;
    max-width: 650px;
  }
}
