@import "vars.scss";
@import "mixins.scss";

$segmented-control-elem-w: 93px;

.SegmentedControl {
  $border-radius: 15px;
  $height: 26px;

  display: inline-flex;
  border-radius: $border-radius;
  height: 23px;
  align-items: center;
  width: auto;

  .c {
    @include no-select();

    width: $segmented-control-elem-w;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    height: $height;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: $meta-color;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ccc;

    &.selected {
      background: $love-color;
      color: #f7f7f7;
      border: 1px solid rgb(239, 46, 84);
      box-shadow: 0px 3px 10px #ec2e53 inset;
    }
  }

  .c:first-child {
    border-radius: $border-radius 0px 0 $border-radius;
    border-right: 0;
  }

  .c:last-child {
    border-radius: 0 $border-radius $border-radius 0;
    border-left: 0;
  }
}









