@import 'vars.scss';

$dim: 22px;

// http://clrs.cc/
$colors: (
  red:    #FF4136,
  orange: #FF851B,
  brown:  #654321,
  yellow: #FFDC00,
  green:  #3D9970,
  blue:   #0074D9,
  violet: #B10DC9,
  pink:   #F012BE,
  black:  #111111,
  gray:   #AAAAAA,
  white:  #DDDDDD,
  );

.Swatch {
  width: $dim;
  height: $dim;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;

  .selection {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 0px #fff;
    transition: 1000ms $transition-exit-func box-shadow;
  }

  &:hover, &.selected {
    .selection {
      transition: 1250ms $transition-enter-func box-shadow;
    }
  }

  @each $name, $color in $colors {
    &.color-#{$name} {
      background-color: $color;
      &:hover, &.selected {
        .selection {
          box-shadow: 0px 0px 6px 0px scale-color($color, $lightness: -20%);
        }
      }
    }
  }
}
