$muted-color: #333;
$meta-color: rgb(130, 130, 130);
$body-margin-w: 8px;
$app-padding-w: 18px;
$songcard-border-w: 18px;
$default-songcard-dimension: 180px;

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@function card-width($songcard-dim) {
  @return $songcard-dim + ($songcard-border-w * 2)
}

@function app-width($n-cards, $songcard-dim) {
  @return $n-cards * card-width($songcard-dim)
}

@function header-width($n-cards, $songcard-dim) {
  $cut: $songcard-border-w * $n-cards * 3; /* arbitrary */
  @return $n-cards * ($songcard-dim + ($songcard-border-w * 2)) - $cut;
}

@function breakpoint-width($n-cards, $songcard-dim) {
  @return app-width($n-cards, $songcard-dim) + (2 * $body-margin-w) + (2 * $app-padding-w)
}

@mixin songCardProps($songcard-dim, $border-bottom, $adjust-font-size) {
  max-width: $songcard-dim;
  max-height: $songcard-dim;
  border-left: $songcard-border-w solid transparent;
  border-right: $songcard-border-w solid transparent;
  border-bottom: $border-bottom solid transparent;

  $transition-enter-duration: 200ms;
  $transition-exit-duration: 150ms;

  .scaleArea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &:hover {
      .pict {
        transform: scale(1.10);
        transition: $transition-enter-duration ease transform, $transition-enter-duration ease box-shadow;
        box-shadow:0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      }
      .meta {
        .title {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2);
          transition: $transition-enter-duration ease transform;
        }
        .other {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2 + 1px);
          transition: $transition-enter-duration ease transform;
        }
        .date {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2 + 2px);
          transition: $transition-enter-duration ease transform, 500ms ease opacity;
          opacity: 1;
        }
      }
    }
  }

  .pict {
    width: $songcard-dim;
    height: $songcard-dim;
    background-size: contain;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: $transition-enter-duration ease transform, $transition-exit-duration ease box-shadow;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .meta {
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
    color: $meta-color;
    text-align: center;

    .title {
      font-size: 13px + $adjust-font-size;
      margin-top: 8px;
      transition: $transition-exit-duration ease all;
      @include ellipsis();
    }

    .other {
      font-size: 12px + $adjust-font-size;
      transition: $transition-exit-duration ease all;
      line-height: 1.5;
      @include ellipsis();
    }

    .date {
      display: block;
      font-size: 11px + $adjust-font-size;
      line-height: 1.3;
      transition: $transition-exit-duration ease all;
      opacity: 0;
    }
  }
}
