// TODO: this file is ugly

$muted: #333;

body {
  font-family: -apple-system, BlinkMacSystemFont, cooper-hewitt, sans-serif;
}

$songcard-w: 180px;
$songcard-h: $songcard-w;
$songcard-b: 18px;
$want-cards: 4;

#app {
  max-width: $want-cards * ($songcard-w + ($songcard-b * 2));
  margin: 0 auto;
  padding: 0 18px;
}

.header {
  // Aligning elements center and right: // https://stackoverflow.com/a/38948646
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;

  font-size: 24px;
  color: $muted;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: $want-cards * ($songcard-w + ($songcard-b * 2)) - $songcard-b*12;

  .username {
    grid-column-start: 2;
    display: block;
    .emph {
      font-weight: 600;
    }
  }

  .logout {
    margin-left: auto;
    display: block;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    top: 6px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.info {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: $muted;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 60px;
}

.SongCard {
  max-width: $songcard-w;
  max-height: $songcard-h;
  border-left: $songcard-b solid transparent;
  border-right: $songcard-b solid transparent;
  border-bottom: 90px solid transparent;

  .scaleArea {
    &:hover {
      .pict {
        transform: scale(1.10);
        transition: 250ms ease transform;
      }
      .title, .other {
        transform: scale(1.1) translateY($songcard-w * .1 / 2);
        transition: 250ms ease transform;
      }
      .date {
        transform: scale(1.1) translateY($songcard-w * .1 / 2);
        transition: 250ms ease transform, 500ms ease opacity;
      }
      .other {
        transform: scale(1.1) translateY($songcard-w * .1 / 2 + 1px);
      }
      .date {
        // transition-delay: -100ms;
        transform: scale(1.1) translateY($songcard-w * .1 / 2 + 2px);
        opacity: 1;
      }
    }
  }

  .pict {
    width: $songcard-w;
    height: $songcard-h;
    background-size: contain;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: 200ms ease transform;
  }

  .meta {
    padding-left: 2px;
    padding-right: 6px;
    cursor: default;
  }

  .title {
    font-size: 13px;
    margin-top: 8px;
    transition: 200ms ease all;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(130,130,130,1);
  }

  .other {
    font-size: 12px;
    transition: 200ms ease all;
    line-height: 1.5;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: rgba(130,130,130,1);
  }

  .date {
    font-size: 11px;
    color: rgba(130,130,130,1);
    line-height: 1.3;
    transition: 200ms ease all;
    opacity: 0
  }
}


@media screen and (max-width: 700px) {
  .logout {
    display: none;
  }
}

@media screen and (max-width: 760px) { // TODO: calc
  .songs {
    justify-content: center;
  }
}
