$muted-color: #333;
$love-color: rgb(252, 49, 89);
$meta-color: rgb(130, 130, 130);
$body-margin-w: 0;
$app-padding-w: 0;
$songcard-border-w: 18px;
$default-songcard-dimension: 180px;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.17, 0.89, 0.12, 1.49); // modified
$transition-enter-func: $ease-out-back;
$transition-exit-func: $ease-out-back;
$font-family: proxima-nova, -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-monospace: 'IBM Plex Mono', monospace;

$red: #FF4136;
$danger: $red;
$blue: #0074D9;
$teal: #39CCCC;
