web/dist
web/node_modules

# symlinks
appengine/web

# binary
appengine/main

# binary sometimes left over during debugging using 'go build'
appengine/appengine

# directory for local archive exporting
macos/archive

.DS_Store

# debug images
*.jpeg

# scratchwork at top-level
scratch.go