web/dist
web/node_modules

# symlink
appengine/web
appengine/doccontent

# binary
appengine/main

# binary sometimes left over during debugging using 'go build'
appengine/appengine

# directory for local archive exporting
macos/archive

.DS_Store

# scratchwork
appengine/.scratch

*.xcuserstate

deployed-hash.txt
