@import "../vars.scss";
@import "../mixins.scss";

@mixin songCardProps($songcard-dim, $border-bottom, $adjust-font-size) {
  max-width: $songcard-dim;
  max-height: $songcard-dim;
  border-left: $songcard-border-w solid transparent;
  border-right: $songcard-border-w solid transparent;
  border-bottom: $border-bottom solid transparent;

  $transition-enter-duration: 180ms;
  $transition-exit-duration: 300ms;

  $icon-dim: 9px;

  a {
    text-decoration: none;
    color: transparent;
  }

  .scaleArea {
    &:hover {
      .pict {
        transform: scale(1.10);
        transition: $transition-enter-duration $transition-enter-func transform, $transition-enter-duration $transition-enter-func box-shadow;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
        .trackLinkArea {
          .trackLink {
            transition: $transition-enter-duration $transition-enter-func opacity;
            opacity: 1; // NOTE: set to 1 to add track link circles
          }
        }
      }
      .meta {
        .title {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2);
          transition: 100ms ease transform;
        }
        .other {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2 + 1px);
          transition: 100ms ease transform;
        }
        .date {
          transform: scale(1.1) translateY($songcard-dim * .1 / 2 + 2px);
          transition: 100ms ease transform, $transition-enter-duration ease opacity;
          opacity: 1;
        }
      }
    }
  }

  .pict {
    cursor: default; // corresponds to detail view click handler
    width: $songcard-dim;
    height: $songcard-dim;
    background-size: contain;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: $transition-exit-duration $transition-exit-func transform, $transition-exit-duration $transition-exit-func box-shadow;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    .trackLinkArea {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      height: $icon-dim * 3.2;
      width: $icon-dim * 3.2;
      margin-left: auto;
      margin-right: 0;
      position: relative;
      // background-color: red; // uncomment for debugging

      .trackLink {
        position: absolute;
        height: $icon-dim * 1.2;
        width: $icon-dim * 1.2;
        border-radius: 50%;
        right: 8px;
        top: 8px;
        box-shadow: inset 0px 0px 40px 40px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: $transition-exit-duration $transition-exit-func opacity;
      }
    }
  }

  .meta {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer; // for linking to detail
    color: $meta-color;
    text-align: center;

    .title {
      font-size: 13px + $adjust-font-size;
      margin-top: 8px;
      transition: $transition-exit-duration ease all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    .titleContent {
      display: block;
      @include ellipsis();
    }

    .love {
      background-image: url(/static/img/ios10-apple-music-love-icon.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: $icon-dim;
      width: $icon-dim;
      position: absolute;
      right: 0;
      box-shadow: -4px 0px 0px 0px white;
      border: 3px solid white;
    }

    .other {
      font-size: 12px + $adjust-font-size;
      transition: $transition-exit-duration ease all;
      line-height: 1.5;
      @include ellipsis();
    }

    .date {
      display: block;
      font-size: 11px + $adjust-font-size;
      line-height: 1.3;
      transition: 300ms ease all;
      opacity: 0;
    }
  }
}

@mixin moreSongCardProps($adjust-font-size) {
  .scaleArea:hover {
    .pict {
      transform: none !important;
    }
  }
  .pict {
    border: 1px dashed rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.1) inset !important;
    display: flex;
    justify-content: center;
  }
  .moreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $meta-color;
    .and {
      font-size: 25px + $adjust-font-size;
    }
    .number {
      font-size: 27px + $adjust-font-size;
    }
  }
}

@mixin largeSongCardProps($pict-dim, $icon-dim, $adjust-font-size) {
  .pict {
    width: $pict-dim;
    height: $pict-dim;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.4), 20px 10px 80px rgba(0, 0, 0, 0.2) inset;
  }

  .link {
    text-decoration: none;
    color: $meta-color;
  }

  .meta {
    margin-top: 30px;

    padding-left: 3px;
    padding-right: 3px;
    color: $meta-color;
    text-align: center;

    .title {
      font-size: 16px + $adjust-font-size;
      line-height: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .love {
      background-image: url(/static/img/ios10-apple-music-love-icon.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: $icon-dim;
      width: $icon-dim;
      margin-left: 4px;
      box-shadow: -4px 0px 0px 0px white;
      border: 3px solid white;
    }

    .other {
      font-size: 14px + $adjust-font-size;
      line-height: 1.5;
    }

    .lastLine {
      font-size: 14px + $adjust-font-size;
      margin-top: 20px;
      line-height: 1.6;
    }
  }
}
