<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A beautiful scrobbling service for Apple Music. Download the macOS app, and browse scrobbles on the website.">
    <link rel="canonical" href="https://scrobble.littleroot.org/" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/font/font.css">
    <script>
        const bootstrap = {{.Bootstrap}};
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="/dist/home.js"></script>
</body>
</html>
