@import "../common.scss";
@import "../vars.scss";

body {
  font-family: $font-family;
  margin: 0 auto;
  padding: 0 15px;
  color: $muted-color;
}

a {
  color: $blue;
  &:hover {
    color: $blue;
  }
}

.Dashboard {
  max-width: 500px;
  margin: 0 auto;

  .start {
    cursor: default;
    font-size: 1rem;
    margin-top: 30px;
    display: flex;
    padding: 6px 5px;
    display: flex;
    justify-content: flex-start;
    .scrobble {
      margin-right: 8px;
      font-weight: 600;
      a {
        color: $muted-color;
        text-decoration: none;
      }
    }
    .desc {
      font-size: 15px;
      margin-left: 8px;
    }
  }

  .nav {
    padding: 10px 5px 6px;
    font-size: 14px;
    border-top: 1px solid $muted-color;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    margin-bottom: 60px;
  }

  .footer {
    margin-top: 100px;
    border-top: 1px solid $muted-color;
    padding: 10px 5px 6px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
  }

  .item {
    margin-left: 10px;
    margin-right: 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .danger a:hover {
    color: $danger;
  }

  .main {
    padding: 10px 5px 10px;
  }

  .setUsername {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 450px;

    .instruction {
      .heading {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
      }
      .desc {
        margin-top: 10px;
        font-size: 14px;
      }
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 500px) {
    .start {
      margin-top: 40px;
    }
  }
}
