// base styles

@import '../scss/vars.scss';
@import '../static/font/font.css';

body {
  font-family: $font-family;
}

#root {
	margin: 100px;
	padding: 100px 0 200px 100px;
	border: 1px solid black;
}
